<% if current_person.present? %>
  <div class='local-profile-guide'>
    <%= toggle _('Continue using my Noosfero profile'), 'person[use_profile]',
               1, nil, class: 'use-profile', data: { name: current_person.name,
               email: current_person.email } %>
  </div>

  <%= hidden_field_tag 'person[id]', current_person.id %>
<% end %>
