<% current = defined?(current) ? current : 0 %>
<%= form_for @denouncement, :as => 'step_form', :url => { :action => 'create' },
             :"data" => { current: current } do |f|%>
    <% steps.each_with_index do |label, index| %>
      <div id="<%= label %>-step" data-index='<%= index %>'
           class='step-wrapper <%= step_status(current, index) %>'>
           <%= render partial: 'denouncements_plugin_steps/' + label + '_step',
                      locals: { f: f } %>
      </div>
    <% end %>
<% end %>
