<h2><%= _('Identification') %></h2>

<div id='identification'>
  <p class='msg'>
    <%= _('Did this violation happen with you?') %>
  </p>

  <div class='actions'>
    <%= button :yes, _('Yes'), '#', id: 'yes-btn' %>
    <%= button :no, _('No'), '#', id: 'no-btn' %>
  </div>
</div>

<%= render partial: 'denouncements_plugin_steps/identification/identified' %>
<%= render partial: 'denouncements_plugin_steps/identification/anonymous' %>
