<div class='<%= type + '-list'%>'>
  <h4><%= title %></h4>
  <div id=<%='uploaded-files-' + type %> class='inline-form-list'>
    <div class='denouncement-item template' data-key data-type='<%= type %>'>
      <div class='denouncement-info'>
        <div class='info-row'>
          <span class='icon-file'><img class='info-attr <%= type + '-image'%>'></span>
          <span class='file-name'></span>
        </div>
      </div>
      <div class='actions'>
        <a href='#' class='icon icon-remove thumbnail-remove'></a>
      </div>
    </div>
  </div>
</div>
