<h2><%= _('Occurrence') %></h2>

<p class='msg'>
  <%= _('When and where did it happen?') %>
</p>

<%= content_tag('label', date_field('dncmt[date]', nil, { time: true,
    change_month: false, change_year: true, date_format: 'yy-mm-dd',
    time_format: 'hh:mm' }, id: 'datepicker-from-date',
    placeholder: _('When did it happen?'), readonly: true)) %>

<div class='field-row'>
  <%= text_field_tag 'dncmt[address]', nil, id: 'denouncement-address',
                     placeholder: _('Search a location on the map'),
                     autocomplete: 'off', class: 'search-address' %>
                   <a class='button fa fa-location-arrow current-location' alt="<%= _('Use my current location') %>" title="<%= _('Use my current location') %>" href='#'>
  </a>
</div>

<div id="google-map-occurrence-step" class='map-wrapper'></div>

<p class='msg description-msg'>
  <%= _('Tell what happened with as much detail as you remember.') %>
</p>

<%= text_area_tag 'dncmt[description]', nil, id: 'denouncement-description',
                  placeholder: _('What happened?') %>

<p class='error-msg'>
  <%= _('Please, provide a date, city, and some details to continue.') %>
</p>

<%= button_bar do %>
  <%= button :back, _('Go back'), '#', class: 'previous-step' %>
  <%= button :next, _('Continue'), '#', class: 'continue-btn' %>
<% end %>
