<% current = defined?(current) ? current : 0 %>
<div class='steps-bar' data-current='<%= current %>'>
  <% steps.each_with_index do |label, index| %>
    <div id="step-<%= index %>" data-index='<%= index %>'
         class='step-wrapper <%= step_status(current, index) %>'>
      <span class='step'><%= index + 1 %></span>
    </div>
  <% end %>
</div>
