<h2><%= _('Victims') %></h2>

<p class='msg victim-author-msg'>
  <%= _("Did this abuse happen with anyone else?") %>
</p>
<p class='msg not-victim-msg'>
  <%= _("With whom did the abuse happen?") %>
</p>


<div id='victims-list' class='inline-form-list'>
  <div id='author-victim-fields' class='victim'>
    <%= hidden_field_tag 'victims[][name]', nil,
                          class: 'victim-name',
                          id: 'author-victim-name', disabled: true %>

    <%= hidden_field_tag 'victims[][contact]', nil,
                          class: 'victim-contact',
                          id: 'author-victim-contact', disabled: true %>
  </div>

  <div class='victim denouncement-item template'>
      <div class='fields'>
        <%= text_field_tag 'victims[][name]', nil, disabled: true,
                           class: 'victim-name',
                           placeholder: _('Victim Name') %>
        <%= text_field_tag 'victims[][contact]', nil, disabled: true,
                           class: 'victim-contact',
                           placeholder: _('Contact Info (e.g.: email, '\
                                          'phone number)') %>
      </div>
      <div class='actions'>
        <%= modal_inline_link_to(font_awesome('user-times', _('Remove victim')),
                                 '#', '#confirmationRemove-victim',
                                 class: 'remove-victim') %>
      </div>
  </div>
</div>

  <%= render partial: 'denouncements_plugin_steps/victims/' +
                       'remove_victim_confirmation' %>

<div id='add-victim-form' class='inline-form'>
  <%= button :add, _('Add more victims'), '#', id: 'add-victim',
                   class: 'add-item' %>

  <div class='errors'>
    <p class='error-msg'><%=_("Invalid Victim") %></p>
    <div class="errors-list">
        <span id="victims-empty">
          <%= _("Please, report at least one valid victim to continue.") %>
        </span>
        <span id="victim-no-information">
          <%= _('At least the a name or contact info must be informed.') %>
        </span>
    </div>
  </div>
</div>

<%= button_bar do %>
  <%= button :back, _('Go back'), '#', class: 'previous-step' %>
  <%= button :next, _('Continue'), '#', class: 'continue-btn' %>
<% end %>
