<div id='confirmation-page'>
  <h1><%= _('Thank you') %></h1>

  <div class="create-denouncement">

    <p class='msg'>
      <%= _('Your denouncement was successfully registered. You might want to '\
            'write down the information below, so you can track the denouncement '\
            'once it is updated.') %>
    </p>

    <div class='denouncement-info'>
      <div class='info-row'>
        <span class='info-label'>
          <%= _('Denouncement date:') %>
        </span>
        <span class='info-value'>
          <%# @denouncement.created_at.strftime('%Y-%m-%d %H:%M') %>
          <%= @denouncement.created_at %>
        </span>
      </div>
      <div class='info-row'>
        <span class='info-label'>
          <%= _('Status:') %>
        </span>
        <span class='info-value'>
          <%= _(@denouncement.status_value).capitalize %>
        </span>
      </div>
      <div class='info-row'>
        <span class='info-label'>
          <%= _('Protocol:') %>
        </span>
        <span class='info-value'>
          <%= @denouncement.protocol || _('Once your denouncement is processed '\
                                          'the protocol will be generated and '\
                                          'sent back to you.') %>
        </span>
      </div>
    </div>

    <p class='msg'>
      <%= _('After the analysis, being present all the required data, the denouncement '\
            'will be sent to the responsible agencies.') %>
    </p>

    <%= button_bar do %>
      <%= button :new, _('New denouncement'), '/plugin/denouncements/new' %>
    <% end %>

  </div>
</div>
