<h1><%= _('Denouncements') %></h1>

<%= form_tag( { controller: 'denouncements_plugin', action: :search }, class: 'denouncements-search-form', remote: true ) do %>
  <div class="search-field">
    <div class="formfield">
      <%= text_field_tag :protocol, nil, placeholder: _("Enter denouncement's protocol")  %>
      <%= submit_button :search, _('Search'), id: 'submit-form', style: 'display: none;' %>
    </div>
  </div>
<% end %>

<div id="my-denouncements">
  <% if user && user.denouncements %>
    <h2><%= _("My Denouncements") %></h2>
    <table>
      <thead>
        <tr>
          <th><%= _("Protocol") %></th>
          <th><%= _("Date") %></th>
          <th><%= _("Status") %></th>
        </tr>
      </thead>
      <tbody>
        <% user.denouncements.each do |d| %>
          <tr>
            <td><%= d.protocol %></td>
            <td><%= show_date d.date %></td>
            <td><span class="<%= d.status.downcase %>"></span><%= d.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
