@import 'stylesheets/confirmation';
@import 'stylesheets/checkbox_toggle';
@import 'stylesheets/steps';
@import 'stylesheets/steps_bar';
@import 'stylesheets/toggleable_fields';
@import 'stylesheets/profile_description_block';
@import 'stylesheets/communities_list_block';
@import 'stylesheets/happens_block';

form.denouncements-search-form {

  input#protocol {
    background: none;
    font-size: 13px;
    padding: 8px 10px;
    width: calc(100% - 22px);
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0px 1px 3px #ccc;
  }

  a.button#search-btn {
    display: inline-block;
    cursor: pointer;
    width: 90px;
    height: 35px !important;
    line-height: 35px !important;
    font-size: 14px !important;
    border: 1px solid #5c6e84;
    padding: 0;
    text-align: center;
    background: none;
    border-radius: 5px;
    color: #5c6e84;
    box-shadow: 1px 1px 3px #777;

    &:hover {
      background-color: #5c6e84;
      color: white;
    }
  }
}

#my-denouncements {
  margin-top: 10px;
  font-size: 14px;

  h2 {
    color: #555753;
    font-size: 16px;
    margin: 20px 0px 0px 0px;
  }

  table {
    font-family: Liberation Sans, Arial, sans-serif;
    margin-top: 10px;
    thead th {
      color: #222;
      font-size: 15px;
      border-bottom: 1px solid #222;
      text-align: center;
    }

    tbody {
      tr {
        height: 40px;
        &:nth-child(odd) {
          background-color: #f9f9f9;
        }
      }

      td {
        color: #222;
        font-size: 13px;
        text-align: center;

        span.open {
          content: '';
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 7.5px;
          background-color: #3AC477;
          margin-right: 5px;
          vertical-align: middle;
        }
      }
    }
  }
}
